/* Dropdown*/

.dropbtn {
	position: absolute;
	/* background-color: var(--background);
	color: var(--form-text); */
	opacity: 0.2;
	padding: 0px;
	font-size: 16px;
	border: none;
	margin: 0px;
	width: 34px;
	height: 34px;
	right: 12px;
	top: 6px;
	z-index: 2;
}

.icone-config {
	display: block;
	/* background-image: url('../../images/icone-config.svg'); */
	background-position: center;
	background-repeat: no-repeat;
	width: 34px;
	height: 34px;
}

.dropdown {
	position: absolute;
	display: inline-block;
	right: 12px;
	top: 6px;
	margin: 0;
}

.dropdown-content > li:nth-child(1) {
	margin-top: 40px;
}

.dropdown-content {
	display: none;
	position: absolute;
	/* background-color: var(--button-hover); */
	background-color: rgba(32, 43, 56, 0.8);
	width: 0px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 6px;
	transform: scaleX(0);
	opacity: 0.2;
	max-height: 80vh;
	overflow-y: scroll;
}

.dropdown-content li {
	color: var(--form-text);
	padding: 12px 16px;
	text-decoration: none;
	/* display: block; */
}

.dropdown-content li:hover {
	/* background-color: var(--background); */
	background-color: rgba(32, 43, 56, 1);
	transition: background-color 200ms ease-in-out;
}

.dropdown:hover .dropdown-content {
	display: block;
	width: 300px;
	opacity: 1;
	transform: scaleX(1);
	/* transition: transform 2000ms; */
}

.dropdown:hover .dropbtn {
	/* background-color: var(--button-hover); */
	opacity: 1;
	transition: opacity 200ms;
}

